<style>
 .circle
 {
  text-align:center;
  height:120px;
  width:120px;
  border-radius:50%;
  position:absolute;
  right:50%;
  top:23%;
 }
 .fa-instagram{

size:70%;
height: 11px;
width: 11px;
background:blue; 
color:pink;
border-radius:100%;
position:absolute;
cursor:pointer;
top:70%;
right:47%;
left:48.7%;
bottom:48%;
opacity:none;
}
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 2px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width:18%;
    font-size: 18px;
    position:absolute;
    bottom:23%;
    left:53%;
}
.upl
{
  position:absolute;
  left:38%;
  bottom:77%;
}
</style>